target/META-INF/mule-src/wlamart-sys-api/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="apisero-walmart-sys-apiraml-config" api="resource::61dea6b4-8e61-485c-bee2-9c3ba1dc5167:walmart-sys-api:1.0.0:raml:zip:apisero-walmart-sys-apiraml.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="apisero-walmart-sys-apiraml-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="apisero-walmart-sys-apiraml-config" />
        
    </flow>
    <flow name="apisero-walmart-sys-apiraml-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="apisero-walmart-sys-apiraml-config" />
       
    </flow>
    <flow name="get:\products:apisero-walmart-sys-apiraml-config">
		<flow-ref doc:name="Flow Reference" doc:id="aa49736d-344d-4199-b482-5129010c87d1" name="get:\products"/>
    </flow>
    <flow name="get:\products\(order_id):apisero-walmart-sys-apiraml-config">
		<flow-ref doc:name="Flow Reference" doc:id="dbb7d96e-310b-4e35-9648-736872cf2393" name="get:\product\(order_id)"/>
    </flow>
    <flow name="post:\products:application\json:apisero-walmart-sys-apiraml-config">
		<flow-ref doc:name="Flow Reference" doc:id="99f442b1-6d33-44a9-8d1b-404463b9a971" name="post:\products"/>
    </flow>
</mule>
